.menu-button {
  position: fixed;
  top: 15px;
  left: 15px;
  background-color: rgba(114, 114, 114, 0.9);
  border-radius: 25px;
  width: 40px;
  height: 40px;
  z-index: 1;
}

.menu-button:hover {
  background-color: rgba(114, 114, 114, 0.7);
}

.menu-button svg {
  width: 30px;
  height: 30px;
  margin: 5px;

}

.menu {
  z-index: 0;
  width: 670px;
  height: 600px;
  background-color: rgb(82, 82, 82);
  border-radius: 20px;
  position: fixed;
  top: 10px;
  left: 10px;

  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.menu.hide {
  width: 0px;
  height: 0px;
  opacity: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.slider {
  margin-left: 5px;
  margin-right: 5px;
  width: 250px;
  height: 30px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: coral;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.menu h1 {
  color: white;
  font-size: 25pt;
  margin-left: 60px;
  padding: 0px;
  font-weight: 250;
}

.menu-content {
  transition-timing-function: linear;
  transition-delay: 50ms;
  transition-duration: 500ms;
  opacity: 1;
}
.menu-content.hide { 
  opacity: 0;
  transition-duration: 0ms;
}

label, h1 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
  cursor: default;
}

label {
  margin-left: 20px;
  width: 170px;
}

label, .value {
  font-size: 14pt;
  font-weight: 250;
  color: white;
}


/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    background-color: coral;
  }
}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: coral;
  opacity: .7;
}
input[type="range"]::-moz-range-track {  
  background-color: coral;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: coral; 
  opacity: .7;
}
input[type="range"]::-ms-fill-upper {  
  background-color: coral;
}
