.menu-button {
  position: fixed;
  top: 15px;
  left: 15px;
  background-color: rgba(114, 114, 114, 0.9);
  border-radius: 25px;
  width: 40px;
  height: 40px;
  z-index: 1;
}

.menu-button:hover {
  background-color: rgba(114, 114, 114, 0.7);
}

.menu-button svg {
  width: 30px;
  height: 30px;
  margin: 5px;

}

.menu {
  z-index: 0;
  width: 650px;
  height: 600px;
  background-color: rgb(82, 82, 82);
  border-radius: 20px;
  position: fixed;
  top: 10px;
  left: 10px;

  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.menu.hide {
  width: 0px;
  height: 0px;
  opacity: 0;
}

